In [4]:
#Day 2 Assignment goes here

In [5]:
a = "abcd"
b = "abcg"
a.find(b)

a = "hello world"
b = "world"
a.find(b)
b in a

True

# Functional Programming in Python

In [51]:
# 1. Basic function declaration and syntax
# 2. function with parameter
# 3. function without parameter
# 4. function  with default value parameter
# 5. function with args
# 6. function with kwargs
#6.1. function with multiple return
# 7. function with args and kwargs
# 8. lambda
# 9. map function
#10. filter function
#11. reduce function
#12. zip function
#13. enumerate function
#14. closure or first class function
#15. decorator

### Function -->
reuse |
block of code |
declaration or define |
calling of function --() |
function is object |
function can be accessed from .py file as module

### Declaration -->
def funcName()

### Calling -->
funcName()

In [12]:
#  function declaration and calling (syntax)
def funcName():
    print("Hello all")

In [15]:
# calling above function
funcName()
# if you dont use parenthesis funcName will be parsed as an object.

Hello all

In [18]:
# function with parameter
# declaration
def add(a, b):
    print(a+b)

In [ ]:
add(2,3)
add(float(input("Enter first no.")),float(input("Enter second no.")))

5

In [2]:
# function with default value parameter
#declaration
def calculator(a=1,b=1):
    print(a+b,a-b,a*b,a/b)

In [13]:
# calling default value
calculator()
calculator(5)
calculator(b=5)
calculator(b=5,a=3)
calculator(5,)
calculator(5.) #returns floating point values
#calculator(,5) raises compilation error

2 0 1 1.0
6 4 5 5.0
6 -4 5 0.2
8 -2 15 0.6
6 4 5 5.0
6.0 4.0 5.0 5.0

In [24]:
# function with args
# function declaration
def withArgs(*a):
    sum = 0
    for i in a:
        if type(i) is int or type(i) is float:
            sum += i
        elif type(i) is list:
            for j in i:
                if type(j) is int or type(j) is float:
                    sum += j
    print(a)
    print(sum)

In [26]:
#Calling pf args function
withArgs(2,23.45,[3,4,5,6],{"hello","space"})

(2, 23.45, [3, 4, 5, 6], {'space', 'hello'})
43.45

In [28]:
# function with kwargs
# declaration of function
def withKwargs(**kw):
    print(kw)

In [32]:
#calling of function
withKwargs(name="snehar",std="5",subject=["java","php"])
#returns dictionary

{'name': 'snehar', 'std': '5', 'subject': ['java', 'php']}

In [35]:
# function with arg and kwarg
def withArgKwarg(*a,**b):
    print(a)
    print(b)
# NOTE --> while using arg and kwarg in same function, arg should be first param.

In [39]:
#calling above fn
withArgKwarg(1,23,4,5,6,7,"hello",[1,2,3],name="snehar")
#below call will raise an error
#withArgKwarg(name="snehar",1,23,4,5,6,7,"hello",[1,2,3])

(1, 23, 4, 5, 6, 7, 'hello', [1, 2, 3])
{'name': 'snehar'}

In [41]:
# function with multiple Return
# declaration
def calculator(a=1, b=1):
    return a+b, a-b, a*b, a/b, a**b
    return (a+b, a-b, a*b, a/b, a**b)

In [43]:
# calling above function
# number of return values should be equal to number of  storage variables as shown below
add,sub,mul,div,raise_to = calculator(5,2)
print(add)
print(raise_to)

7
25

#### Lambda function 
single line function | Anonymous function | lambda function can be used with different function
#### eg: add = lambda x,y : x+y
variable/catch object = reserved keyword parameters : action

In [45]:
# lambda function
add = lambda x,y:x+y

In [47]:
# calling above fn
add(3,5)

8

In [52]:
incrementer = lambda x : x+1
decrementer = lambda y : y-1

In [57]:
incrementer(2)

3

In [59]:
decrementer(2)

1

## Map function
takes two parameters map(function, data) | data as a list

In [66]:
# map function
data = ["9898958675","0215485475","9632589632","0147852136"]
bussiness_logic = lambda x:x[6:].rjust(len(x),"*")
#bussiness_logic("9987132420")
map(bussiness_logic, data) # returns object so typecast it
list(map(bussiness_logic, data))

['******8675', '******5475', '******9632', '******2136']

In [70]:
# squares of numbers
data = [1,2,3,4,5,6,7,8,9,10]
logic = lambda x : x*x
map(logic, data)
list(map(logic,data))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [2]:
def generateDict(**kw):
    return kw

In [3]:
student_list = [ ]
for i in range(1,10):
    if i%2 == 0:
        student_list.append(generateDict(name="abc",placement=True,subj=["python","java"]))
    else:
        student_list.append(generateDict(name="abc",placement=False,subj=["php","reactjs"]))      
print(student_list)

[{'name': 'abc', 'placement': False, 'subj': ['php', 'reactjs']}, {'name': 'abc', 'placement': True, 'subj': ['python', 'java']}, {'name': 'abc', 'placement': False, 'subj': ['php', 'reactjs']}, {'name': 'abc', 'placement': True, 'subj': ['python', 'java']}, {'name': 'abc', 'placement': False, 'subj': ['php', 'reactjs']}, {'name': 'abc', 'placement': True, 'subj': ['python', 'java']}, {'name': 'abc', 'placement': False, 'subj': ['php', 'reactjs']}, {'name': 'abc', 'placement': True, 'subj': ['python', 'java']}, {'name': 'abc', 'placement': False, 'subj': ['php', 'reactjs']}]

In [98]:
#filter
data = student_list
logic = lambda x : x.get('placement')==True
# logic = lambda x:"java" in x.get("subject") or "java"
print(list(filter(logic,data)))

[{'name': 'abc', 'placement': True, 'subj': ['python', 'java']}, {'name': 'abc', 'placement': True, 'subj': ['python', 'java']}, {'name': 'abc', 'placement': True, 'subj': ['python', 'java']}, {'name': 'abc', 'placement': True, 'subj': ['python', 'java']}]

In [7]:
#filter
data = student_list

logic = lambda x:"java" in x.get("subj")
list(filter(logic,data))

[{'name': 'abc', 'placement': True, 'subj': ['python', 'java']},
 {'name': 'abc', 'placement': True, 'subj': ['python', 'java']},
 {'name': 'abc', 'placement': True, 'subj': ['python', 'java']},
 {'name': 'abc', 'placement': True, 'subj': ['python', 'java']}]

#### Reduce function
not readily available |
import from functools

In [4]:
data = [1,1,1,1,1,1,1,1,1,1]
from functools import  reduce as r
logic = lambda x,y : x+y
print(r(logic,data))

10

#### ZIP function
club no. of lists or variables

In [17]:
list1 = [1,2,3,4,5,6,7] #case1
list1 = [1,2,3,4] # case2
list2 = ["red","green","orange","black","blue"]
list3 = ["a","b","c","d","e","f"]
print(list(zip(list1,list2,list3)))

[(1, 'red', 'a'), (2, 'green', 'b'), (3, 'orange', 'c'), (4, 'black', 'd')]

#### Enumerate function

In [19]:
for index, data in enumerate(list1):
    print(index,data)

0 1
1 2
2 3
3 4

In [21]:
print(list(enumerate(list1)))

[(0, 1), (1, 2), (2, 3), (3, 4)]

#### "AJAX uses closure"

### Closure

In [36]:
def wrapper(func):
    def inner():
        print("before function execution")
        func()
        print("after function execution")
    return inner

In [47]:
def printMe():
    print("hello all")

In [48]:
printMe = wrapper(printMe)
printMe()

before function execution
hello all
after function execution

##### wrapper is a function which takes function as a parameter
##### wrapper declare a function name as inner and
#### return inner function object

# Decorator

In [ ]:
#decorator is denoted by @
#decorator should be above function declaration
@wrapper # printMe = wrapper(printMe)
def printMe():
    print("hey yo!")
printMe() #this is now calling inner function

###### closure vs decorator (read)

javascript is a single thread application or is asynchronous --> 1000loops then print => skips loops and prints  <br>
promises also uses closure <br>

### Exception Handling
https://www.pythonforbeginners.com/error-handling/exception-handling-in-python<br>
https://www.programiz.com/python-programming/exception-handling

In [2]:
# Exception Handling
def firstFlow():
    try:
        a = input("Enter first number: ")
        b = input("Enter second number: ")
        c = a/b
    except BaseException as e:
        if input("Do you want to see Error(y/n)")== "y":
            print(e)
        alternateFlow(a,b)
    else:
        print(f"Division value is{c}")

In [3]:
def alternateFlow(a,b):
    try:
        a = float(a)
        b = float(b)
        c = a/b
    except BaseException as e:
        print("Error occured try again")
        firstFlow()
    else:
        print(f"value of division is {c}")

In [ ]:
firstFlow()

In [4]:
# How to raise a Custom Exception
def customException():
    try:
        a = 34
        b = 45
        if(a>b):
            print(a)
        else:
            raise BaseException(f"{a} is smaller than {b}")
    except BaseException as e:
        print(e)
customException()

34 is smaller than 45

#### File Handling in Python

In [5]:
def openOrCreateFile(filePath,mode):
    try:
        file = open(filePath,mode)
    except BaseException as e:
        print(e)
    else:
        return file

mode: read | write | append | write+ | append+

In [6]:
openOrCreateFile("/home/linuxplus/Documents/python-tutorials/demo.html","w+")

In [7]:
def writeOnFile(fileObject,content):
    try:
        fileObject.write(content)
    except baseException as e:
        print(e)
    else:
        print("Write operation done")

In [8]:
fileObject = openOrCreateFile("/home/linuxplus/Documents/python-tutorials/demo.html","w+")
writeOnFile(fileObject,"<marquee><h1>BREAKING NEWS</h1></marquee>")
fileObject.close()

Write operation done

In [9]:
fileObject = openOrCreateFile("/home/linuxplus/Documents/python-tutorials/demo.py","w+")
writeOnFile(fileObject,"print('hello all from file!')")
fileObject.close()

Write operation done

# JUPYTER NOTEBOOK as bash <br>
Use " ! "

In [10]:
!ls

Day_3_python.ipynb  demo.html  demo.py	readme.txt  session_01.ipynb

In [11]:
!python demo.py

hello all from file!

In [12]:
def readFromFile(fileObj):
    try:
        content = fileObject.read() # --> complete content
        #fileObject.readLines() --> list of lines
        #fileObject.readLine() --> one single line
    except BaseException as e:
        print(e)
    else:
        return content

In [13]:
fileObject = openOrCreateFile("/home/linuxplus/Documents/python-tutorials/demo.py","r")
readFromFile(fileObject)

"print('hello all from file!')"

In [25]:
# How to read csv and excel sheet
import pandas as pd
pd.read_csv("http://insight.dev.schoolwires.com/HelpAssets/C2Assets/C2Files/C2ImportCalEventSample.csv")

,Start Date,Start Time,End Date,End Time,Event Title,All Day Event,No End Time,Event Description,Contact,Contact Email,Contact Phone,Location,Category,Mandatory,Registration,Maximum,Last Date To Register
0,9/5/2011,3:00:00 PM,9/5/2011,NaN,Social Studies Dept. Meeting,N,Y,Department meeting,Chris Gallagher,cgallagher@schoolwires.com,814-555-5179,High School,2,N,N,25,9/2/2011
1,9/5/2011,6:00:00 PM,9/5/2011,8:00:00 PM,Curriculum Meeting,N,N,Curriculum Meeting,Chris Gallagher,cgallagher@schoolwires.com,814-555-5179,High School,2,N,N,25,9/2/2011

In [21]:
import pandas as pd
pd.read_excel("https://www.cmu.edu/blackboard/files/evaluate/tests-example.xls")

,MC,What is 2+2?,4,correct,3,incorrect,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,MA,What C datatypes are 8 bits? (assume i386),int,NaN,float,NaN,double,NaN,char
1,TF,Bagpipes are awesome.,true,NaN,NaN,NaN,NaN,NaN,NaN
2,ESS,How have the original Henry Hornbostel buildin...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ORD,Rank the following in their order of operation.,Parentheses,Exponents,Division,Addition,NaN,NaN,NaN
4,FIB,The student activities fee is,95,dollars for students enrolled in,19,"units or more,",NaN,NaN,NaN
5,MAT,Match the lower-case greek letter with its cap...,λ,Λ,α,γ,Γ,φ,Φ

In [29]:
import pandas as pd
dataset = pd.read_excel("https://www.cmu.edu/blackboard/files/evaluate/tests-example.xls")
dataset.iloc[1,1]

'Bagpipes are awesome.'

In [31]:
dataset.iloc[1:2:2,:]

,MC,What is 2+2?,4,correct,3,incorrect,Unnamed: 6,Unnamed: 7,Unnamed: 8
1,TF,Bagpipes are awesome.,true,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
import pandas as pd
pd.read_csv("http://www-eio.upc.edu/~pau/cms/rdata/csv/datasets/BOD.csv")
# dataset.iloc[1,1]

   Unnamed: 0  Time  demand
0           1     1     8.3
1           2     2    10.3
2           3     3    19.0
3           4     4    16.0
4           5     5    15.6
5           6     7    19.8

In [38]:
import pandas as pd
pd.read_csv("http://www-eio.upc.edu/~pau/cms/rdata/csv/datasets/BOD.csv")
dataset.iloc[0:5,1:]

   Time  demand
0     1     8.3
1     2    10.3
2     3    19.0
3     4    16.0
4     5    15.6

In [40]:
import pandas as pd
pd.read_csv("http://www-eio.upc.edu/~pau/cms/rdata/csv/datasets/BOD.csv")
dataset.iloc[0:5,1:].mean()

Time       3.00
demand    13.84
dtype: float64

###### session_3 assignment

(Dynamic) Voting_System <br>
menu driven<br>
functional programming based<br>
1. login
       a.username
       b.password
       [check user from json]
2. signup
       a.name
       b.username (unique)
       c.password
       d.confirm pwd
       [store above details in a dictionary file -->signup.json]
3. On Success
        a. create poll
                -->(id >> unique)
                -->(poll_name)
                -->(poll_option >> [y/n])
        b. show all polls(list of all polls)
        c. vote
                -->(poll_id && poll_name && y/n)
        d. show poll(specific poll details using unique id)
3. polls result
        -->poll_id
        -->result
        -->name
[use functional programming, file handling, exception handling]

# Project using module and packages