# python

In [4]:
print("Hello World")

Hello World

<h2> Day 1 Pyhton Partical </h2>

<h1>Variable and  Assignments </h1>

In [6]:
# ----------------------------
# Only underscore(_) is valid while creating variable
# Number can't be used from start for creating variable
# ----------------------------

In [8]:
# Examples of valid variables
# a=23
# print(a)

# _a = 35
# print(_a)

# a_1=34
# print(a_1)

# a321 = 454
# print(a321)


# Examples of invalid variables
# 1a=23
# print(1a)

In [9]:
a,b,c,d =1,2,3,4
print(a,b,c,d)

1 2 3 4

In [12]:
a=23
b=32
c= a
a=b
b=c
print(a,b)

32 23

In [13]:
a,b =b,a
print(a,b)

23 32

In [14]:
a=23
b = 34.56
c= 34+5j
print(a,b,c)
print(type(a),type(b),type(c))

23 34.56 (34+5j)
<class 'int'> <class 'float'> <class 'complex'>

In [15]:
a='h'
b="hello world"
c='''hello'''
print(type(a),type(b),type(c))

<class 'str'> <class 'str'> <class 'str'>

In [23]:
a = (1,2,3,4,5,6)
b=("helllo",1,2,3,(1,2,3))
print(type(a),type(b))
print(a,b,sep='\n')

<class 'tuple'> <class 'tuple'>
(1, 2, 3, 4, 5, 6)
('helllo', 1, 2, 3, (1, 2, 3))

In [27]:
a = {1,2,3}
b = {11,22,33}
print(type(a),type(b))

<class 'set'> <class 'set'>

In [26]:
a = {"name":"neha", "designation":"web developer","subject":['python'],"roll_no":36}
print(type(a),a,sep='\n')

<class 'dict'>
{'name': 'neha', 'designation': 'web developer', 'subject': ['python'], 'roll_no': 36}

In [34]:
a=20
b=30
c=40
add,sub,divide,multipy,mod = a+b,a-b,a/b,a*b,a%b
print(add,sub,divide,multipy,mod)

50 -10 0.6666666666666666 600 20

In [36]:
a=-2
b=3
print(a//b)
print(b//a)

-1
-2

In [37]:
a=2
b=3
print(a//b)
print(b//a)

0
1

a=20**30

print(a)

In [1]:
a = 20**2
print(a)

400

In [16]:
a=0
b=3
c=3
print(a and b)
print(b and c)
print(b and a and c)
print(a<b and b<c or c>a)
print(a==b and b==c or c==a)
print(a&b)
print(a|b)
print(bin(b))
print(b>>1)

0
3
0
True
False
0
3
0b11
1

In [20]:
a="hello"
print("h" in a)
print("hello" in a)
print("Hello" in a)
print("Hello" not in a)


a= [1,2,3,4,5,6]
print(6 in a)

True
True
False
True
True

In [22]:
a = 3
a+=5
print(a)

8

In [28]:
l = None
print(l)
a=3
a is l

None

False

In [47]:
b
print(no1)
print(type(no1))
print(type(no12))

16.0
<class 'float'>
<class 'int'>

In [51]:
a= int(input("enter no 1: "))
b = int(input("enter no 2: "))
if a>b:
    print("A is greater")
else:
    print("B is greater")

print(a,b)    

print("A is greater") if a>b else print("B is greater")

enter no 1: 5
enter no 2: 1
A is greater
5 1
A is greater

In [53]:
a= int(input("enter no 1: "))
b = int(input("enter no 2: "))
c = int(input("enter no 3: "))
if a>b and a>c:
    print(f"{a} is greater")
elif b>a and b>c:
    print(f"{b} is greater")
else:
    print(f"{c} is greater")

enter no 1: 3
enter no 2: 4
enter no 3: 1
4 is greater

In [37]:
print(float(input("enter no1"))**(1/float(input("enter no2"))))

enter no116
enter no22
4.0

In [54]:
print(list(range(0,10)))
print(list(range(10)))
print(list(range(5,10)))
print(list(range(-10,10)))
print(list(range(0,10,2)))
print(list(range(1,10,3)))
print(list(range(10,1)))
print(list(range(10,1,-1)))
print(list(range(10,-10,-1)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[5, 6, 7, 8, 9]
[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 2, 4, 6, 8]
[1, 4, 7]
[]
[10, 9, 8, 7, 6, 5, 4, 3, 2]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0, -1, -2, -3, -4, -5, -6, -7, -8, -9]

In [ ]:
a= int(input("enter no 1: "))
b = int(input("enter no 2: "))
c = int(input("enter no 3: "))
print(f"{a} is greater") if a>b and a>c else print(f"{b} is greater") if b>a and b>c else print(f"{c} is greater")

In [2]:
counter=0
while(counter <=10):
    print(counter)
    counter+=1
else: 
    print("finished execution!!")

0
1
2
3
4
5
6
7
8
9
10
finished execution!!

In [6]:
for i in range(1,10):
    print(i)
print("")
for i in list(range(1,10)):
    print(i)
print("")
for i in "hello world":
    print(i)
print("")
for i in range(97,123):
    print(chr(i))

1
2
3
4
5
6
7
8
9

1
2
3
4
5
6
7
8
9

h
e
l
l
o

w
o
r
l
d

a
b
c
d
e
f
g
h
i
j
k
l
m
n
o
p
q
r
s
t
u
v
w
x
y
z

In [9]:
for index,data in enumerate(range(97,123)):
        print(f"Index is {index}  of {chr(data)}")

Index is 0  of a
Index is 1  of b
Index is 2  of c
Index is 3  of d
Index is 4  of e
Index is 5  of f
Index is 6  of g
Index is 7  of h
Index is 8  of i
Index is 9  of j
Index is 10  of k
Index is 11  of l
Index is 12  of m
Index is 13  of n
Index is 14  of o
Index is 15  of p
Index is 16  of q
Index is 17  of r
Index is 18  of s
Index is 19  of t
Index is 20  of u
Index is 21  of v
Index is 22  of w
Index is 23  of x
Index is 24  of y
Index is 25  of z

In [12]:
sum=0
while(True):
    choice=int(input("1.Enter No. 2.Exit : "))
    if choice==1:
        sum+=float(input("Enter no: "))
        print(sum)
    elif choice==2:
        print("Welcome Again!")
        break;
    else:
        print("Invalid Choice!")

1.Enter No. 2.Exit : 1
Enter no: 12
12.0
1.Enter No. 2.Exit : 1
Enter no: 45
57.0
1.Enter No. 2.Exit : 2
Welcome Again!